body {
    text-align: center;
    background-color: #262925;
}

h1 {
    color: #dad1c9;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    padding-top: 60px;
    font-family: 'Shine Bubble', sans-serif;
}

button {font-family: 'Shine Bubble', sans-serif;
 font-size: 15px;
 background-color: rgb(24, 23, 23);
 color: rgb(245, 245, 245);
 margin: yellow;
 border: none;
 padding: rgb(92, 86, 86);
 border-radius: 50%;
 margin-top: 50px;
 width: 125px; 
 height: 125px;
}

p {text-align: center;
}

